    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
    body{
        background: #080808;
        color: black;
    }

    .header {
        /* width: 100%;  */
        /* height: 100vh; */
        /* background-image: url(images/background.png); */
        /* background-size: cover; */
        /* background-position: center; */
        
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-image: url("images/bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    /* .space{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-image: url("images/backgroundff.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    } */
    .header img{
       /* width: 10px;
       height: 10px;  */
       width: 80%;
       height:auto; 
       position:absolute;
       /* left:100px;
       bottom: 60px; */
       /* left: 16%;
       bottom:-12%; */
       left: 16%;
       bottom: -10%;
       animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
    }
    @keyframes fadeInFromTop{
        from{
            opacity: 0;
            transform: translateX(-0px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes floating {
        0%{
            transform: translate(0%,0%) rotate(360deg);
        }
        25%{
            transform: translate(-1%,-3%) rotate(360deg);
        }
        50%{
            transform: translate(-2%,-5%) rotate(360deg);
        }
        75%{
            transform: translate(-4%,-3%) rotate(360deg);
        }
        100%{
            transform: translate(0%,0%) rotate(360deg);
        }
        
    }
    .container{
        padding: 10px 5px 40px;
    }
    nav{
        
  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); */
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        /* background-color: ; */
        
    }
    .logo{
        /* height: ; */
        width: 140px;
    }
    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }
    nav ul li a {
        color: black;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #ecb547;
        position: absolute;
        left:0;
        bottom: -6px;
        transition:0.5s ;
    }
    nav ul li a:hover::after{
        width:100%;
    }
    .header-text{
        margin-top: 12%;
        font-size: 30px;
        margin-left: 40px;
       
    }
    .ityped{
        padding-bottom: 5px;

    }
    .header-text h1{
        margin-top: 20px;
        font-size: 60px; 
        padding-bottom: 5px;
    }
    .header-text h1 span{
        color: #ecb547;
        font-size: 60px; 
    }
    #about{
        /* padding: 80px 0; */
        padding: 30px 40px;
        color:#ababab;
    }
    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .about-col-1{
        flex-basis: 35%;
    }
    .about-col-1 img{
       width: 80%;
       border-radius: 15px;
    }
    .about-col-2 {
        flex-basis: 60%;
     }
     .sub-title{
        font-size: 50px;
        font-weight:600;
        color:#fff;
     }
     .tab-titles{
        display: flex;
        margin: 20px 0 40px;
     }
     .tab-links{
        /* display: flex; */
        margin-right:50px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
     }
     .tab-links::after{
        content:'';
        width: 0;
        height: 3px;
        background:#ecb547;
        position: absolute;
        left:0;
        bottom: -8px;
        transition: 0.5s;
     }
     .tab-links.active-link::after{
        width: 100%;
     }
     .tab-contents ul li{
        list-style: none;
        margin:10px 0;
    }
    .tab-contents ul li span{
        color:#ecb547;
        font-size: 14px;
    }
    .tab-contents{
        display: none;
    }
    .tab-contents.active-tab{
        display:contents;
    }
    .about-col-1{
        margin-top: 20px;
    }
    .about-col-2 p{
        max-width: 95%;
    }

    /* services */
    #services{
        padding: 30px 40px;

    }
    .services-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
        color: #fff;
        /* margin-left: 20px;
        margin-right: 20px; */
    }
    .services-list div{
        background: #262626;
        padding: 40px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 10px;
        transition: background 0.7s,transform 0.7s;

    }

    .services-list i{
        font-size: 50px;
        margin-bottom:30px ;
    }
    .services-list div h2{
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    .services-list a{
        /* text-decoration: none; */
        color: #282828;
        text-transform: capitalize;

        font: px;
        margin-top: 20px;
        display: inline-block;
    }
    .services-list div:hover{
        background: #ecb547;
        color: #080808;
        transform: translateY(-20px);
    }
    /* .services-list div h1 :hover{
       color: #080808;
    } */

    /* portfolio */
    #portfolio{
        padding: 30px 40px;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .work img{
        width: 100%;
        border-radius: 10px;
        display: block;
    }
